Repository igorwagner/breweries_pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, flake8

isort:
  name: isort
  language: system
  entry: isort --profile=black .

black:
  name: black
  language: system
  entry: black .

pylint:
  name: pylint
  language: system
  entry: pylint

flake8:
  name: flake8
  language: system
  entry: flake8 jobs dags

refactor: catch specific boto3 exceptions instead of broad Exception
  jobs/bronze_layer/build_bronze_layer.py
Due: isort, black, pylint, flake8

style: apply black and isort formatting
  jobs/gold_layer/build_gold_layer.py
  jobs/silver_layer/build_silver_layer.py
  jobs/utils/get_path.py
Due: isort, black, pylint, flake8

chore: disable pylint duplicate-code warning (R0801) in build_silver_layer.py and build_gold_layer.py
  jobs/gold_layer/build_gold_layer.py
  jobs/silver_layer/build_silver_layer.py
Due: isort, black, pylint, flake8

chore: update .gitignore with local_container/jars files
  .gitignore
Due: none

feat: add orchestrator DAG to sequentially trigger bronze, silver, and gold pipelines with markdown doc
  dags/datalake_orquestrator_dag/__init__.py
  dags/datalake_orquestrator_dag/datalake_orquestrator_dag.py
  dags/datalake_orquestrator_dag/docs/__init__.py
  dags/datalake_orquestrator_dag/docs/dag_description.md
Due: isort, black, flake8

docs: adjust data layers dags descriptions
  dags/bronze_layer_dag/docs/dag_description.md
  dags/gold_layer_dag/docs/dag_description.md
  dags/silver_layer_dag/docs/dag_description.md
Due: none

docs: improve project README.md with architecture and cloud config infos
  README.md
Due: none

feat: add reusable Discord webhook alert for DAG failures via shared utility
  dags/bronze_layer_dag/ingestion_bronze_layer_dag.py
  dags/datalake_orquestrator_dag/datalake_orquestrator_dag.py
  dags/gold_layer_dag/ingestion_gold_layer_dag.py
  dags/silver_layer_dag/ingestion_silver_layer_dag.py
  dags/utils/__init__.py
  dags/utils/discord_webhook.py
Due: isort, black, flake8

feat: improve brewery bronze layer data fetch with /random endpoint, retries, backoff and jitter for resilience
  jobs/bronze_layer/build_bronze_layer.py
Due: isort, black, pylint, flake8

chore: improve bronze layer logging for better debugging and usabilty
  jobs/bronze_layer/build_bronze_layer.py
Due: isort, black, pylint, flake8

refactor: improve bronze layer local save function with error handling and clearer logging
  jobs/bronze_layer/build_bronze_layer.py
Due: isort, black, pylint, flake8

refactor: add error handling and logging to silver-to-gold data pipeline
  jobs/gold_layer/build_gold_layer.py
Due: isort, black, pylint, flake8

feat: apply data cleaning, enrichment and null handling before writing silver layer
  jobs/silver_layer/build_silver_layer.py
Due: isort, black, pylint, flake8

chore: remove unused test DAG
  dags/dag_teste/__init__.py
  dags/dag_teste/dag_teste.py
Due: isort, black, flake8

refactor: move AWS_BUCKET env var inside save_data_s3 for better encapsulation
  jobs/bronze_layer/build_bronze_layer.py
Due: isort, black, pylint, flake8

test: add multiple tests to project pipeline
  tests/.gitkeep
  tests/__init__.py
  tests/test_build_bronze_layer.py
  tests/test_build_gold_layer.py
  tests/test_build_silver_layer.py
Due: isort, black, pylint, flake8

chore: update pre-commit hooks to run flake8 and pytest
  .pre-commit-config.yaml
Due: none

test: update bronze_layer test
  tests/test_build_bronze_layer.py
Due: isort, black, pylint, flake8

docs: major update to README with enhanced explanations and structure
  README.md
Due: none

ci: add initial CI workflow configuration
  .github/workflows/ci.yaml
Due: none

ci: add simple CD workflow to trigger webhook on push to main
  .github/workflows/cd.yaml
Due: none

ci: fix CD curl request
  .github/workflows/cd.yaml
Due: none

docs: add CI/CD section describing GitHub Actions workflows for testing and deployment
  README.md
Due: none

docs: split README into modular documentation files under docs/
  README.md
  docs/alerting-monitoring.md
  docs/aws-setup.md
  docs/bronze-layer.md
  docs/ci-cd.md
  docs/data-quality.md
  docs/design-decisions.md
  docs/gold-layer.md
  docs/local-setup.md
  docs/medallion-architecture.md
  docs/project-structure.md
  docs/silver-layer.md
  docs/testing.md
Due: none

feat: add utility to convert Spark types to Glue types and create Glue tables
  jobs/gold_layer/build_gold_layer.py
  jobs/silver_layer/build_silver_layer.py
  jobs/utils/glue_utils.py
Due: isort, black, pylint, flake8

chore: ensure datalake folder is tracked but contents are ignored
  .gitignore
  datalake/.gitkeep
Due: none

fix: preserve original partition column order when creating table
  jobs/gold_layer/build_gold_layer.py
  jobs/silver_layer/build_silver_layer.py
  jobs/utils/glue_utils.py
Due: isort, black, pylint, flake8

docs: update local-setup.md
  docs/local-setup.md
Due: none

fix: add region name to glue client service
  jobs/utils/glue_utils.py
Due: isort, black, pylint, flake8

docs: add note about MSCK REPAIR TABLE after Silver ingestion
  docs/aws-setup.md
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: \.py$, but not: ^dags/
  flake8: any of: \.py$
